In [25]:
import pandas as pd

In [34]:
df = pd.read_csv('/media/walml/beta/misc_downloads/enhanced-classifications.csv', usecols=['user_name', 'classification_id'])
# df = pd.read_csv('/media/walml/beta/misc_downloads/classic-classifications.csv', nrows=5)
# df = pd.read_csv('/media/walml/beta/misc_downloads/classic-classifications.csv', usecols=['user_name', 'classification_id', 'annotations'])
# df = pd.read_csv('/media/walml/beta/misc_downloads/decals-dr5-classifications.csv', usecols=['user_name', 'classification_id'])

In [35]:
df

         classification_id                           user_name
0                160623251                        MikeWalmsley
1                160623290                        MikeWalmsley
2                160623322                        MikeWalmsley
3                160623386                        MikeWalmsley
4                160623428                        MikeWalmsley
...                    ...                                 ...
1653329          273046266  not-logged-in-c54f63fb5b62c43f9410
1653330          273046304  not-logged-in-c54f63fb5b62c43f9410
1653331          273046346  not-logged-in-c54f63fb5b62c43f9410
1653332          273046353                            bluemagi
1653333          273046450  not-logged-in-da067f2a121d5514dd7a

[1653334 rows x 2 columns]

In [36]:
gupta = df.query('user_name == "harshulgupta"')

In [37]:
gupta

Empty DataFrame
Columns: [classification_id, user_name]
Index: []

In [33]:
responses = [x for x in gupta['annotations']]

KeyError: 'annotations'

In [ ]:
responses